{{ 'component-announcement-bar.css' | asset_url | stylesheet_tag }}

{% capture __dont_use %}
  {% form 'localization' %}
    {% assign current_country = localization.country.iso_code | strip | downcase %}
  {% endform %}
{% endcapture %}

<div class='announcement-bar {{ section_id }}'>
  <ul class='announcement-bar__items'>
    {% assign announcements_count = 0 %}
    {% for announcement in announcements %}
      {% assign announcement_country = announcement.settings.country | strip | downcase %}
      {% unless announcement_country == '' %}
        {% if current_country != announcement_country %}
          {% continue %}
        {% endif %}
      {% endunless %}

      {% if announcement_country == '' %}
        {% assign announcement_country = 'all' %}
      {% endif %}
      <style>
        .{{ announcement.id }} {
          background-color: {{ announcement.settings.bg_color }};
        }
        .{{ announcement.id }} div{
          color: {{ announcement.settings.text_color }};
        }
      </style>
      <li data-country='{{ announcement_country }}' class='{{ announcement.id }}'>
        <div class='announcement-bar__item'>
          {% if announcement.settings.url != blank %}
            <a class='announcement-bar__item--link' href='{{ announcement.settings.url }}'></a>
          {% endif %}
          {{ announcement.settings.text | truncate: 50 }}
        </div>
      </li>
    {% endfor %}
  </ul>
  <a class='announcement-bar__close' href='#'>
    <svg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'>
      <path d="M1 1L12 12" stroke="white" stroke-width="1.5"/>
      <path d="M12 1L1 12" stroke="white" stroke-width="1.5"/>
    </svg>
  </a>
</div>

<script>
  if (Cookies.get('announcement-bar') == 'dismissed') {
    $('.announcement-bar__wrapper').hide();
    document.documentElement.style.setProperty('--announcement-height', '0px');
    $('body').removeClass('announcement-bar--show');
    $('body').addClass('announcement-bar--hide');
  }

  document.addEventListener('DOMContentLoaded', function () {
    $('.announcement-bar__close').on('click', function (e) {
      e.preventDefault();

      Cookies.set('announcement-bar', 'dismissed', {
        expires: +`{{ reappear_after }}`,
        path: '/',
      });

      $('body').removeClass('announcement-bar--show');
      $('body').addClass('announcement-bar--hide');

      $('.announcement-bar__wrapper').slideUp(function (e) {
        $(window).trigger('resize');

        // ScrollTrigger.refresh();
      });
      document.documentElement.style.setProperty('--announcement-height', '0px');
    });
    $(function () {
      $('body').addClass('announcement-bar--show');

      var quotes = $('.{{ section_id }} .announcement-bar__items > li');
      var quoteIndex = -1;

      function showNextQuote() {
        ++quoteIndex;
        quotes
          .eq(quoteIndex % quotes.length)
          .fadeIn(1000)
          .delay(5000)
          .fadeOut(1000, showNextQuote);
      }

      showNextQuote();

      document.documentElement.style.setProperty(
        '--announcement-height',
        Math.round($('.navbar__announcement').height()) + 'px',
      );

      if (Cookies.get('announcement-bar') == 'dismissed') {
        $('.announcement-bar__wrapper').hide();
        $('body').removeClass('announcement-bar--show');
        $('body').addClass('announcement-bar--hide');
        document.documentElement.style.setProperty('--announcement-height', '0px');
      }
    });
  });
</script>
