<div class='search-result__item'>
  <div class='search-result__item--right'>
    <div class='search-result__item--image'>
      <img src='{{ article.image | image_url }}' alt='{{ article.title }}'>
    </div>
  </div>
  <div class='search-result__item--left'>
    <div class='search-result__content'>
      <p class='article-card__published-date'>
        <span class='article-card__handle'>
          {{ article.handle | split: '/' | first | replace: '-', ' ' }}
        </span>
      </p>
      <h5>{{ article.title }}</h5>

      {% if article.excerpt != blank %}
        <div class='article-card__excerpt'>
          <p>{{ article.excerpt | strip_html | truncatewords: 10 }}</p>
        </div>
      {% else %}
        <div class='article-card__excerpt'>
          <p>{{ article.content | strip_html | truncatewords: 10 }}</p>
        </div>
      {% endif %}
      <a class='article-card__link' href='{{ article.url }}'></a>
    </div>
    <div class='search-result__button'>
      <a href='{{ article.url }}' class='underline-link'>Read more</a>
    </div>
  </div>
</div>
{% comment %}
  <div class="article-card">
    <div class="article-card__image">
      <div class="image">
        {%- if article.image != blank -%}
          {%- capture sizes -%}(min-width: 992px) 50vw{%- endcapture -%}
          {{ article.image | image_url: width: 1200 | image_tag:
          sizes: sizes,
          loading: 'lazy',
          height: nil }}
        {%- endif -%}
      </div>
    </div>
    <div class="article-card__desc">
      <p class="article-card__tag">
        {{ article.handle | split: '/' | first }}
      </p>
      <h2 class="article-card__title">
        {{ article.title }}
      </h2>
      <a href="{{ article.url }}" class="article-card__link"></a>
    </div>
  </div>
{% endcomment %}
