<div class="article-video block-padding--{{ block.id }}" {{ block.shopify_attributes }}>
  <div class="article-video__container">
    <div class="article-video__content">
      {% if block.settings.video_url.type == 'youtube' %}
      <iframe id="video-frame"
        src="https://www.youtube.com/embed/{{ block.settings.video_url.id }}?enablejsapi=1&rel=0&showinfo=0&controls=0&autohide=1?modestbranding=1"
        class="js-youtube video-frame"
        allow="autoplay; encrypted-media"
        allowfullscreen
        title="{{ block.settings.title | escape }}"
        data-src="https://www.youtube.com/embed/{{ block.settings.video_url.id }}?enablejsapi=1&rel=0&showinfo=0&controls=0&autohide=1?modestbranding=1"></iframe>
    {% elsif block.settings.video_url.type == 'vimeo' %}
      <iframe id="video-frame"
        src="https://player.vimeo.com/video/{{ block.settings.video_url.id }}"
        class="js-vimeo video-frame"
        allow="autoplay; encrypted-media"
        allowfullscreen
        title="{{ block.settings.title | escape }}"
        data-src="https://player.vimeo.com/video/{{ block.settings.video_url.id }}"></iframe>
    {% endif %}
    <span class="article-video__play-button">
      {% render 'icon-play' %}
    </span>
  </div>
  </div>
</div>