<div class="article-two-col block-padding--{{ block.id }}" {{ block.shopify_attributes }}>
  <div class="article-two-col__container">
    <div class="article-two-col__grid {% if block.settings.heading != blank %}two-column{% else %}one-column{% endif %}">
      
      <div class="article-two-col__left">
        <div class="article-two-col__content">
          {% if block.settings.heading != blank %}
            <h5>
              {{ block.settings.heading }}
            </h5>
          {% endif %}
        </div>
      </div>
      <div class="article-two-col__right">
        <div class="article-two-col__content">
          {{ block.settings.content_block_1 }}
          {% if block.settings.content_heading != blank %}
            <div class="spacer-20"></div>
            <h5>
              {{ block.settings.content_heading }}
            </h5>
          {% endif %}
          {{ block.settings.content_block_2 }}
        </div>
        {% if block.settings.content_image != blank %}
        <div class="article-two-col__image">
          <img src="{{ block.settings.content_image | image_url }}" alt="">
        </div>
      {% endif %}
      </div>
    </div>
  </div>
</div>