{% assign toggle_id = 'cart-note__toggle' %}
{% if cart_page %}
  {% assign toggle_id = toggle_id | append: '1' %}
{% endif %}

<div class="cart-note">
  <input type="checkbox" class="cart-note__toggle" id="{{ toggle_id }}" data-ajax-cart-static-element="{{ toggle_id }}">
  

  <div class="cart-note__accordion">
    <label for="{{ toggle_id }}" >
      Order Notes
    </label>
  </div>

  <label for="{{ toggle_id }}" class="cart-note__arrow">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 11 12" width="11" height="12">
      <rect fill="#59341a" x="5" y="0.5" width="0.8" height="11" />
      <rect fill="#59341a" transform="rotate(90 11 5.5)" x="11" y="5.5" width="0.8" height="11" />
      </svg>
  </label>

  <div class="cart-note__form">
    <textarea 
      data-ajax-cart-property-input 
      name="note"
      class="cart-note__note"
      rows="2"
      placeholder="Type special instructions for delivery here. Max 120 characters."
      maxlength="120"
      id="cartNote" >
        {{ cart.note }}
    </textarea>

    <div class="cart-note__loading">
      <p class="p-small">
        Saving...
      </p>
    </div>
  </div>
</div>
{% comment %}

                  <div class='accordion-item__label'>
    <label for="{{ toggle_id }}">Order Notes</label>
    <div class='accordion-item__icon'>
      <div class='active'>
        {% if cart_page %}
          <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L6.29289 6.29289C6.68342 6.68342 7.31658 6.68342 7.70711 6.29289L13 1" stroke="#262525" stroke-width="1.5" stroke-linecap="round"></path>
          </svg>
        {% else %}
          <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1.5L5.29289 5.79289C5.68342 6.18342 6.31658 6.18342 6.70711 5.79289L11 1.5" stroke="#262525" stroke-width="1.5"/>
          </svg>
        {% endif %}
      </div>
    </div>
  </div>

  <div class='accordion-item__collapse'>
    <div class='accordion-item__content'>
      <div class="cart-note">
        <input type="checkbox" class="cart-note__toggle" id="{{ toggle_id }}" data-ajax-cart-static-element="{{ toggle_id }}">

        <div class="cart-note__form">
          <textarea 
            data-ajax-cart-property-input 
            name="note"
            class="cart-note__note"
            rows="2"
            placeholder="Type special instructions for delivery here. Max 120 characters."
            maxlength="120"
            id="cartNote">
              {{ cart.note }}
          </textarea>

          <div class="cart-note__loading">
            <p class="p-small">Saving...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endcomment %}
