{% for item in cart.items %}
  {% assign current_swatch = item.product.metafields.swatches.current %}
  {% assign has_subscription = false %}
  {% for selling_plan in item.product.selling_plan_groups %}
    {% if selling_plan.selling_plans.size > 0 %}
      {% assign has_subscription = true %}
    {% endif %}
  {% endfor %}

  {% assign item_index = forloop.index %}

  {% if has_subscription %}
    {% assign selected_plan = item.selling_plan_allocation.selling_plan %}
  {% endif %}

  {% assign card_image = item.product.metafields.card.images.value | first %}
  {% assign product_vendor = item.vendor | default: 'Orion' %}
  {% if selected_plan %}
    <div class='free-shipping--free free-shipping--subscription'></div>
  {% endif %}

  <div class='cart-item'>
    <div class='cart-item__grid'>
      <div class='cart-item__image'>
        <a href='{{ item.url }}'>
          {% comment %}
            {% if item.image != blank and item.image != '' %}
              <img src="{{ item.image | image_url: width: 280 }}" loading="eager" width="" height="" alt="{{ item.product.title }}" />
            {% else %}
              <img src="{{ card_image | image_url: width: 280 }}" loading="eager" width="" height="" alt="{{ item.product.title }}" />
            {% endif %}
          {% endcomment %}

          {% comment %} {% assign card_image = images['cart-item-thumbnail.png'] %} {% endcomment %}
          {% assign card_image = item.image %}
          <img
            src='{{ card_image | image_url: width: 280 }}'
            loading='eager'
            width=''
            height=''
            alt='{{ item.product.title }}'
          >
        </a>
      </div>

      <div class='cart-item__content'>
        <div class='cart-item__content--grid cart-item__content--title'>
          <h6 class='cart-item__product-name'>
            {% assign item_title = item.product.title | downcase | replace: swatch_name, '' | capitalize %}
            <a href='{{ item.url }}'>
              {{ item_title | escape }}
            </a>

            <div class='cart-item__desc'>
            {% for option in item.options_with_values %}
              {% if option.name == "Size" %}
                <p>{{ option.name }} {{ option.value }}</p>
              {% elsif option.name == "Metal" %}
                {% assign variant = item.variant %} 
                <div class="list">
                <div
                  {% if item.available == true %}
                    data-variant-id='{{ item.id }}'
                    data-variant-title='{{ item.title }}'
                    data-variant-price='{{ variant.price | money_without_trailing_zeros }}'
                  {% endif %}
                  data-position='{{ forloop.index }}' 
                  data-alt='{{ item.title | downcase }}'
                  data-value='{{ item.title }}'
                  {% if variant.metafields.custom.variant_color.value %}
                    style='background-color: {{ variant.metafields.custom.variant_color.value }}'
                  {% endif %}
                  class='product-main__option product-main__option--metal {% if item.variant.id == cart.selected_or_first_available_variant.id %} active {% endif %} {% if item.variant.available == false %} disabled {% endif %}'
                ></div>
                <p>{{ option.value }}</p>
                </div>
              {% else %}
                <p>{{ option.value }}</p>
              {% endif %}
              
            {% endfor %}

              {% comment %}
              {% assign variant_parts = item.variant.title | split: '/' %}
              <div>{{ variant_parts[0] }}</div>
              {% unless variant_parts[0] == variant_parts[1] %}
                <div>{{ variant_parts[1] }}</div>
              {% endunless %}
              {% unless variant_parts[1] == variant_parts[2] %}
                <div>{{ variant_parts[2] }}</div>
              {% endunless %}
              {% endcomment %}
            </div>
          </h6>
          <div class='cart-item__price-box'>
            <p class='cart-item__price'>
              {{ item.final_line_price | money_without_trailing_zeros }}
            </p>
          </div>
        </div>

        <div class='cart-item__content--grid cart-item__content--quantity'>
          <div class='cart-item__quantity'>
            {% if item.product.type != 'Gift' %}
              <div class='cart-item__quantity-box product-card__quantity-box'>
                <a
                  class='box-q box-q--minus'
                  data-ajax-cart-request-button
                  href='{{ routes.cart_change_url }}?line={{ item_index }}&quantity={{ item.quantity | minus: 1 }}'
                  class='cart-quantity__button cart-quantity__button--minus'
                >
                  –
                </a>
                <input
                  data-ajax-cart-quantity-input='{{ item_index }}'
                  class='cart-item__quantity-box--selector'
                  name='updates[]'
                  value='{{ item.quantity }}'
                  type='number'
                >
                <a
                  class='box-q box-q--plus'
                  data-ajax-cart-request-button
                  href='{{ routes.cart_change_url }}?line={{ item_index }}&quantity={{ item.quantity | plus: 1 }}'
                  class='cart-quantity__button cart-quantity__button--plus'
                >
                  +
                </a>
              </div>
            {% endif %}
          </div>
          <div class='cart-item__remove'>
            {% if has_subscription and selected_plan %}
              <span>Remove</span>
              </a>
            {% else %}
              <a class='cart-item__remove--link remove' data-ajax-cart-request-button href='{{ item.url_to_remove }}'
                >Remove</a
              >
            {% endif %}
          </div>
        </div>

        <div class='cart-item__options'>
          {% render 'cart-item-dropdown', item: item %}
        </div>
      </div>
    </div>
  </div>
{% endfor %}
