<script>
  const liquid__newsletterSuccess = +`{{ settings.newsletter_success }}`;
  const liquid__newsletterDismiss = +`{{ settings.newsletter_dismissed }}`;
  const liquid__newsletterDelay = +`{{ settings.newsletter_delay }}`;
</script>

<div class="newsletter-popup contact-modal newsletter-form__parent">
  <div class="form-input__container">
    <a class="contact-modal__close">
      <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="14.8516" cy="14.8492" r="10" transform="rotate(45 14.8516 14.8492)" stroke="black"/>
        <line x1="18.3906" y1="11.314" x2="11.3196" y2="18.3851" stroke="black" stroke-linecap="round"/>
        <line x1="18.3866" y1="18.3848" x2="11.3156" y2="11.3137" stroke="black" stroke-linecap="round"/>
      </svg>
    </a>

    <div class="contact-modal__header">        
      <h4>
        {{ settings.newsletter_title }}
      </h4>

      <p>
        {{ settings.newsletter_desc }}
      </p>
    </div>

    <div class="contact-modal__form">
      {% render 'newsletter-form' %}
    </div>
  </div>


  <div class="form-success">
    <div class="form-success__content">
      <div class="form-success__message">
        <h4>
          {{ settings.success_title }}
        </h4>
        {{ settings.success_message }}
      </div>
    </div>
  </div>

</div>