{% for value in option.values %}
  {% assign variant = value.variant %}
  <div
    {% if value.available == true %}
      data-variant-id='{{ value.id }}'
      data-variant-title='{{ value }}'
      data-variant-price='{{ variant.price | money_without_trailing_zeros }}'
    {% endif %}
    data-position='{{ option.position }}'
    data-alt='{{ value |  downcase }}'
    data-value='{{ value }}'
    class='product-main__option {% if value.variant.id ==  product.selected_or_first_available_variant.id and sample_product == blank %} active {% endif %} {% if value.available == false %} disabled {% endif %}'
  >
    <span class='value'>
      {{- value }}
    </span>
  </div>
{% endfor %}
