{% form 'product', product %}
  <div class='product__info'>
    <div class='product__header'>
      <div class='product__rating'>
        <img class='product__star' src='https://c.animaapp.com/D23qSUo5/img/star-5.svg' alt='Star'>
        <span class='product__score'>{{ product.metafields.Roadmap_review.avgRating | default: '0' }}</span>
      </div>
      <span class='product__tag'>{{ product.metafields.pdp.badge }}</span>
    </div>
    <h1 class='product__title'>{% render 'product-title' %}</h1>
    <div class='product__price'>
      <span class='product__price-current'>
        {{- product.selected_or_first_available_variant.price | money_without_trailing_zeros -}}
      </span>
      <span class='product__price-original'>
        {{- product.selected_or_first_available_variant.compare_at_price | money_without_trailing_zeros -}}
      </span>
    </div>
    <div class='product__afterpay'>
      Or 4 payments from
      {{ product.selected_or_first_available_variant.price | divided_by: 4 | money_without_trailing_zeros }}
      {% render 'icon-afterpay' %}
    </div>
    <div class='product__description'>
      <div class='truncated-description'>
        {{ product.description | strip_html | truncatewords: 32 | remove_last: '...' }}
        <span class='read-more-link'>...Read more</span>
      </div>
      <div class='full-description' style='display: none;'>
        {{ product.description }}
        <span class='read-less-link'>Read less</span>
      </div>
    </div>
    {% render 'product-options' %}

    <a href='#' class='product__size-guide-btn'>
      {% render 'icon-size-guide' %}
      SIZE & MATERIAL GUIDE
    </a>

    {% render 'product-actions' %}
    <div class='product__info-items'>
      <div class='product__info-item'>
        <span class='product__info-text'>SAME DAY DELIVERY AVAILABLE</span>
        {% render 'icon-info' %}
      </div>
      <div class='product__info-item'>
        <span class='product__info-text'>STORE AVAILABILITY: INSTOCK</span>
        {% render 'icon-instock' %}
      </div>
    </div>
    {% render 'product-upsell' %}
    {% render 'product-accordions' %}

    {% render 'product-pair' %}
    {% render 'product-hint', classes: 'md-show' %}

    {% render 'product-gift' %}
  </div>
{% endform %}

<script>
  document.addEventListener('DOMContentLoaded', function () {
    $(document).on('click', '.read-more-link', function (event) {
      event.preventDefault();
      $('.full-description').show();
      $('.truncated-description').hide();
    });

    $(document).on('click', '.read-less-link', function (event) {
      event.preventDefault();
      $('.full-description').hide();
      $('.truncated-description').show();
    });
  });
</script>
