{% for value in option.values %}
  {% assign variant = value.variant %}
  <div
    {% if value.available == true %}
      data-variant-id='{{ value.id }}'
      data-variant-title='{{ value }}'
      data-variant-price='{{ variant.price | money_without_trailing_zeros }}'
    {% endif %}
    data-position='{{ option.position }}'
    data-alt='{{ value |  downcase }}'
    data-value='{{ value }}'
    {% if variant.metafields.custom.variant_color.value %}
      style='background-color: {{ variant.metafields.custom.variant_color.value }}'
    {% endif %}
    class='product-main__option product-main__option--metal {% if value.variant.id ==  product.selected_or_first_available_variant.id  %} active {% endif %} {% if value.variant.available == false %} disabled {% endif %}'
  ></div>
{% endfor %}

<span class='product-main__option-value product-main__option-value--metal'>
  {% for option in option.values %}
    <span
      data-value='{{ option }}'
      class='
        product-main__option-value-item {% if option ==  product.selected_or_first_available_variant.options.first %}
            active
        {% endif %}
      '
    >
      {{- option -}}
    </span>
  {% endfor %}
</span>
