{% comment %}
  Required:
  - product

  Optional:
  - classes: string
{% endcomment %}

{% unless classes %}
  {% assign classes = '' %}
{% endunless %}

{% if is_large %}
  {% assign classes = classes | append: ' product-card--large' %}
{% else %}
  {% assign classes = classes | append: ' product-card--normal' %}
{% endif %}
{% assign selected_variant = product.selected_or_first_available_variant %}

<div class='product-card {{ classes }}'>
  <div class='product-card__grid'>
    <a href='{{ product.url }}' class='product-card__link'></a>
    {% if product.compare_at_price > product.price %}
      <div class='product-card__badge'>
        <span class='badge badge--sale'>Sale</span>
      </div>
    {% endif %}
    <div class='product-card__image'>
      {% capture sizes %}
        (max-width: 400px) 50vw,
        35vw
      {% endcapture %}

      {% if is_large %}
        {% capture sizes %}
          (max-width: 400px) 100vw,
          50vw
        {% endcapture %}
      {% endif %}

      <div class='card-image'>
        {% comment %} {% assign hover_image = selected_variant.metafields.card.hover_image %} {% endcomment %}
        {% if selected_variant.metafields.card.hover_image %}
          {% assign hover_image = selected_variant.metafields.card.hover_image %}
        {% else %}
          {% assign hover_image = product.images[1] %}
        {% endif %}

        {% if hover_image %}
          <div class='card-image__hover'>
            {{ hover_image | image_url: width: 1200 | image_tag }}
          </div>
        {% endif %}

        {% if selected_variant.featured_media %}
          {% assign card_image = selected_variant.featured_media %}
        {% else %}
          {% assign card_image = product.featured_image %}
        {% endif %}
        {{ card_image | image_url: width: 1200 | image_tag }}
      </div>
    </div>

    <div class='product-card__footer'>
      <div class='card-footer'>
        <p class='product-title'>
          {{ product.title }}
        </p>
        <p class='product-card__price p-large'>
          {% render 'sa-price', product: product %}
        </p>
      </div>
    </div>

    {% comment %}
      <div class="product-card__quickbuy">
        {% render 'card-quickbuy', product: product %}
      </div>
    {% endcomment %}
  </div>
</div>
