{% assign product_model_sizes = shop.metaobjects.ordered.product_model_sizes.references.value %}
{% assign selected_variant = product.selected_or_first_available_variant %}
{% assign selected_size = product.metafields.metaobjects.product_model_size.value %}
{% unless selected_size %}
  {% assign selected_size = product_model_sizes | first %}
{% endunless %}
{% assign selected_size_product = selected_size.product.value %}
{% assign limited_editions = selected_size.limited_editions.value %}



<style>
  .tempus-bg {
    -webkit-mask-image: url({{ 'tempus-pattern.svg' | asset_url }});
    mask-image: url({{ 'tempus-pattern.svg' | asset_url }});
  }
</style>

<div class="main-product__bg">
  

  {% for variant in selected_size_product.variants %}
    {% assign gradient = variant.metafields.gradient %}
  
    <div 
      data-variant-show="{{ variant.id }}"
      style="background: linear-gradient(to top, {{ gradient['color_2'] }}, {{ gradient['color_1'] }});" 

      {% if variant.id == selected_variant.id %}
        class="active" 
      {% endif %}
    >

      {% if selected_size_product.title contains 'empus' %}
        <div class="tempus-bg">
          <div class="tempus-bg__scroll"></div>
          <div class="tempus-bg__highlight"></div>
        </div>
      {% endif %}
    </div>
  {% endfor %}
  
  {% for product in limited_editions %}
    {% for variant in product.variants %}
      {% assign gradient = variant.metafields.gradient %}
  
      <div 
        data-variant-show="{{ variant.id }}"
        style="background: linear-gradient(to top, {{ gradient['color_2'] }}, {{ gradient['color_1'] }});" 
  
        {% if variant.id == selected_variant.id %}
          class="active" 
        {% endif %}
      >
      
        {% if product.title contains 'empus' %}
          <div class="tempus-bg">
            <div class="tempus-bg__scroll"></div>
            <div class="tempus-bg__highlight"></div>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  {% endfor %}
  
  <div class="default"></div>
</div>