{% comment %}
  Required:
  - type: 'metaobject' | 'product'
  - id: metaobject handle, or variant id
  - title
  - colour_name
  - card_image
  - swatch_image 
  - swatch_color
  - purchase_date
{% endcomment %}

{% assign warranty_years = 4 %}
{% assign expiry_year = purchase_date | date: '%Y' | plus: warranty_years %}
{% assign expiry_date = purchase_date | date: '-%m-%d' %}
{% assign expiry_date = expiry_year | append: expiry_date %}
{% assign expiry_date = expiry_date | date %}

{% assign _expiry = expiry_date | date: '%s' %}
{% assign _now = 'now' | date: '%s' %}

{% if _now < _expiry  %}
  {% assign in_warranty = true %}
{% else %}
  {% assign in_warranty = false %}
{% endif %}


{% if card_image %}
  {% assign card_image_url = card_image | image_url %}
{% else %}
  {% assign card_image_url = 'missing-image.png' | asset_url %}    
{% endif %}


{% comment %} 
  Logic for Registration Removed
{% endcomment %}
{% assign registration_removed = false %}
{% assign id_string = id | append: '' %}

{% for item in customer.metafields.registrations.removed.value %}
  {% assign props = item | split: '|' %}
  {% assign removed_id = props | first | strip %}
  {% assign removed_date = props | last | strip %}

  {% if id_string == removed_id %}
    {% assign registration_removed = removed_date | date: '%d/%m/%y' %}
    {% break %}
  {% endif %}
{% endfor %}


{% if registration_removed %}
  {% assign classes = classes | append: ' repair-card--removed' %}
{% endif %}



{% if only_json %}
  <script>
    (function() {
      const repairProduct = {
        id: `{{ id }}`,
        title: `{{ title }}`,
        colour_name: `{{ colour_name }}`,
        swatch_color: `{{ swatch_color }}`,
        swatch_image: `{{ swatch_image | image_url: width: 30 }}`,
        expiry_date: `{{ expiry_date | date: '%d/%m/%y' }}`,
        type: `{{ type }}`,
      }
  
      window.repairProducts = window.repairProducts || {};
      window.repairProducts[`{{ id }}`] = repairProduct;
    })();
  </script>
{% else %}  

  <div class="repair-my-products__product repair-card {{ classes }}">
    <div class="repair-my-products__product-main-info">
      <div class="repair-my-products__product-title-box">
        <h3 class="repair-my-products__product-title">
          {{ title }}
        </h3>
        <p class="repair-my-products__product-color-box">
          {% comment %}
            <span 
              class="swatch-preview" 
              style="background-color: {{ swatch_color }}; background-image: url('{{ swatch_image | image_url: width: 30 }}');"
            ></span>
          {% endcomment %}

          {{ colour_name }}
        </p>
      </div>
      
      {% if in_warranty %}
        <div class="repair-my-products__product-label">
          {% render 'icon-success-checkmark' %} In Warranty
        </div>
      {% else %}
        <div class="repair-my-products__product-label repair-my-products__product-label--out">
          {% render 'icon-failure' %} Out of Warranty
        </div>
      {% endif %}
    </div>

    <div class="repair-my-products__product-image">
      <img src="{{ card_image_url }}" alt="">
    </div>

    <div class="repair-my-products__product-add-info">
      <div class="repair-my-products__product-info-box">
        <p>Purchase Date</p>
        <p class="p-large">
          {{ purchase_date | date: '%d/%m/%y' }}
        </p>
      </div>
      <div class="repair-my-products__product-info-box">
        <div class="repair-my-products__product-tooltip">
          <p>
            This is your extended warranty expiry date. Please see our Warranty page to understand what is and isn't covered in your warranty. Repairs can still be done in or out of warranty; small charges may apply.
          </p>
        </div>
        <div class="repair-my-products__product-tooltip-box">
          <p>Warranty Expires</p>
          <div class="repair-my-products__product-tooltip-icon">
            {% render 'icon-tooltip' %}
          </div>
        </div>

        <p class="p-large">
          {{ expiry_date | date: '%d/%m/%y' }}
        </p>
      </div>
    </div>

    <div class="repair-my-products__product-cta">
      <a href="/pages/start-repair?id={{ id }}" class="button primary-button--dark">Start a repair</a>

      <a href="/collections/accessories" class=" button primary-button--white">
        Shop accessories
      </a>

      <a href="#" class=" button primary-button--white" onclick="updateRegistration(this, '{{ id }}', 'remove');">
        Remove registration
      </a>
    </div>
    
    <div class="repair-my-products__product-cta repair-card__re-register">
      <a href="#" class="button primary-button--white" onclick="updateRegistration(this, '{{ id }}', 're-register');">
        Reregister
      </a>
    </div>

    <div class="repair-my-products__product-add-info repair-card__removal-info">
      <div class="repair-my-products__product-info-box">
        <p>Registration Removed</p>
        <p class="p-large">
          {{ registration_removed }}
        </p>
      </div>
    </div>

  </div>
{% endif %}

