{%- comment -%}
  Required:
  - menu: string, identifier of menu in shopify admin
  - parent_menu: string, identifier of menu in shopify admin
{%- endcomment -%}


<div class="sub-nav">  
  <div class="sub-nav__menu sub-nav__menu--default">
    <ul>
      {% if parent_menu %}  
        <li class="sub-nav__arrow">
          <a href="#">
            {% if template == 'page.about' or template == 'page.stores' or template == 'page.careers' %}
              <img src="{{'sub-nav-arrow-black.svg' | asset_url }}" />
            {% else %}
              <img src="{{'sub-nav-arrow.svg' | asset_url }}" />
            {% endif %}
          </a>
        </li>
      {% endif %}  
  
      {% for link in linklists[menu].links %}
        <li>
          <a class="link--{{ link.title | handle | strip }} {% if link.active %}active{% endif %}" href="{{ link.url }}">
            {{ link.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  {% if parent_menu %}
    <div class="sub-nav__menu sub-nav__menu--parent">
      <ul>
        {% for link in linklists[parent_menu].links %}
          <li>
            <a {% if link.active %}class="active"{% endif %} href="{{ link.url }}">
              {{ link.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}  
</div>

<div class="sub-nav__spacing"></div>

<script>
  document.querySelector('.navbar__sub-nav')?.appendChild( document.querySelector('.sub-nav') );
  document.querySelector('.sub-nav__spacing')?.classList.add('active');
  
  document.body.classList.add('navbar--solid');
  document.querySelector('.sub-nav .sub-nav__menu--default .active')?.scrollIntoView({ inline: 'center' });
</script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    $('.sub-nav__menu--dropdown').on('click', function() {
      $('.sub-nav__modal').toggleClass('active');
    });
    $('.sub-nav__modal--close').on('click', function() {
      $('.sub-nav__modal').toggleClass('active');
    });
  });
</script>