{%- comment -%}
Available variables:
- block
  - id
  - shopify_attributes
  - type
  - settings
    - tab_title (text)
    - description (richtext)
    - form_id (text)
{%- endcomment -%}

{%- comment -%}
<div class="tabs" {{ block.shopify_attributes }}>
  <label class="tabs__tab-title">{{ block.settings.tab_title }}</label>
  <div class="tabs__description">{{ block.settings.description }}</div>
  <div class="tabs__form-id">{{ block.settings.form_id }}</div>
</div>
{%- endcomment -%}


<!-- Tabs Content -->
        <div class="tab-content">
          {% for block in section.blocks %}
            <div class="tabs-content" id="{{block.settings.form_id}}">
              <p>{{ block.settings.description }}</p>
              <div class="form-div">
                <form action="#" id="{{block.settings.form_id}}" accept-charset="UTF-8" class="contact-form">

                  <input type="hidden" name="form-id" value="{{block.settings.form_id}}" />
                  <input type="hidden" name="form_type" value="contact" />
                  <input type="hidden" name="utf8" value="✓" />
                  
                  <fieldset class="input__grid"> 
                    <div>   
                      <label for="">First Name*</label>
                      <input placeholder="First Name*" class="input__field" type="text" name="contact[first_name]" required />
                    </div>
                    <div>
                      <label for="">Last Name*</label>
                      <input placeholder="Last Name*" class="input__field" type="text" name="contact[last_name]" required />
                    </div>  
                  </fieldset>

                  <fieldset>  
                    <div class="d-none">
                      <label for="">Message Topic</label>
                      <select class="input__field custom-select" placeholder="Topic"  name="contact[subject]">
                          <option value="Topic" selected>Topic</option>
                          <option value="General Enquiry">General Enquiry</option>
                          <option value="Media Enquiry">Media Enquiry</option>
                          <option value="Press Enquiry">Press Enquiry</option>
                      </select>
                    </div>
                  </fieldset>

                  <fieldset>  
                    <div>
                      
                      <textarea id="contact_body" name="contact[body]" placeholder="Your message" rows="10" cols="70" required></textarea>
                    </div>  
                  </fieldset>
                  
                  <!-- Submit Button -->
                  <button type="submit" id="contact-submit__{{block.settings.form_id}}" class="btn button">Send Message</button>
                </form>


              </div>

              <!-- Success Message Handling -->
                    <div class="form-success-message__{{block.settings.form_id}} success-message" tabindex="-1" autofocus>
                      <p class="form-status form-status-list form__message" tabindex="-1" autofocus>
                        <i class="icon-success"></i> <!-- You can customize the icon as needed -->
                        Thank you!
                      </p>
                      <p>We’ve received your message and will be in touch shortly. In the meantime, feel free to explore our latest collections!</p>
                      <p>Thank you for choosing Boh Runga.</p>
                      <a href="/collections" class="btn">Shop All</a> <!-- Update the link to your actual collection -->
                    </div>

                    <!-- Error Message Handling -->
                    <div class="form__message form-error-message__{{block.settings.form_id}}">
                      <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>
                        <i class="icon-error"></i> <!-- Customize the error icon as needed -->
                        Oops! Something went wrong.
                      </h2>
                    </div>

            </div>
          {% endfor %}
        </div>



