{% render 'navbar--solid' %}

<style>
  #rc_login {
    display: none !important;
  }
</style>
<section class="accounts accounts--login accounts__login">
  <div class="accounts__grid">
    <div class="accounts__left">
      <div class="accounts__form">
        <div class="accounts__form--heading">
          <h3>Log In</h3>
        </div>
        {% form 'customer_login' %}
          <input
            type="hidden"
            name="return_url"
            value="/pages/dashboard">

          {% if form.errors %}
            <div class="form__message form__message--errors">
              {{ form.errors | default_errors }}
            </div>
          {% endif %}

          <fieldset>
            <label for="Customer-email">Email Address*</label>
            <input
              type="email"
              class="input__field"
              name="customer[email]"
              id="Customer-email"
              placeholder="Email address"
              required>
          </fieldset>

          <fieldset> 
            <label for="customer-password">Password*</label>
            <input
              type="password"
              autocapitalize="none"
              id="customer-password"
              class="input__field input__field--password"
              name="customer[password]"
              placeholder="Password"
              autocapitalize="none"
              required>
          </fieldset>

          <fieldset>
            <input
              type="submit"
              class="input__submit button"
              value="Log In">
          </fieldset>
        {% endform %}

        <div class="input__link">
          <p>
            <a class="underline-link underline-link--dark" href="{{ routes.account_register_url }}"> Don't have an account? Sign Up</a>
          </p>
          <p>
            <a
              class="underline-link underline-link--dark"
              onclick="showRecover(); return false;"
              href="#recover">Reset Password</a>
          </p>
        </div>
      </div>
    </div>
    <div class="accounts__right">
      <div class="accounts__image">
        <img src="{{ 'auth-right-img.jpg' | asset_img_url: 'master' }}" />
      </div>
    </div>
  </div>
</section>
<section class="accounts accounts--recover accounts__recover" style="display: none;">
  <div class="accounts__grid">
    <div class="accounts__left">
      <div class="accounts__form">
        <div class="accounts__form--heading">
          <h3>Reset Password</h3>
          <p>{{ 'customer.recover_password.subtext' | t }}</p>
        </div>

        {% form 'recover_customer_password' %}
          {% assign recover_success = form.posted_successfully? %}
          {% comment %}
            Add a hidden span to indicate the form was submitted succesfully.
          {% endcomment %}
          {%- if form.posted_successfully? -%}
            <span class="reset-span">
              We've sent you an email with a link to update your password.
            </span>

            <script>
              document.addEventListener('DOMContentLoaded', function() {
                showRecover();
              });
            </script>
          {%- endif -%}

          {%- if form.errors -%}
            {% comment %} <small class="form__message" id="RecoverEmail-email-error">
              {{ form.errors.messages['form'] }}
            </small> {% endcomment %}

            <div class="form__message form__message--errors">
              {{ form.errors | default_errors }}
            </div>

            <script>
              document.addEventListener('DOMContentLoaded', function() {
                showRecover();
              });
            </script>
          {%- endif -%}


          <fieldset>
           <label for="Customer-email">Email Address*</label>
            <input
              type="email"
              name="email"
              id="RecoverEmail"
              class="input__field"
              placeholder="Email address"
              required>
          </fieldset>

          <fieldset>
            <input type="submit" class="input__submit button" value="Reset Password">
          </fieldset>
        {% endform %}

        <div class="input__link">
          <p>
            <a
              class="underline-link"
              onclick="showLogin(); return false;"
              href="#login">Cancel</a>
          </p>
        </div>
      </div>
    </div>
    <div class="accounts__right">
      <div class="accounts__image">
        <img src="{{ 'auth-right-img.jpg' | asset_img_url: 'master' }}" />
      </div>
    </div>
  </div>
</section>
<script>
  function showLogin() {
    $('.accounts--login').show();
    $('.accounts--recover').hide();
  }
  function showRecover() {
    $('.accounts--login').hide();
    $('.accounts--recover').show();
  }
</script>

{% comment %}
  {//% schema %}
  {
  "name": "Login",
  "settings": [
  {
  "id": "title",
  "type": "text",
  "label": "Title"
  },
  {
  "id": "image",
  "type": "image_picker",
  "label": "Image"
  }
  ]
  }
  {% endschema %}
{% endcomment %}