{{ 'blog-builder.css' | asset_url | stylesheet_tag }}

{% assign section_id = 'sa-blog-builder--' | append: section.id %}
<section class="sa-blog-builder {{ section_id }}" data-section="{{ section | json }}">

  <div class="sa-blog-builder__modal">
    <div class="sa-blog-builder__modal-box">
      <textarea class="sa-generated-code" rows="5" onclick="this.focus();this.select()" placeholder="Generated code will appear here." readonly="readonly" >{{ generated_code | strip | strip_newlines | escape }}</textarea>

      <div class="sa-blog-builder__modal-actions">
        <a href="javascript:document.querySelector('.{{ section_id }} .sa-blog-builder__modal').classList.remove('active');">
          Close
        </a>
        
        {% comment %} <a href="javascript:document.querySelector('.{{ section_id }} .sa-blog-builder__modal').classList.remove('active');">
          Close
        </a> {% endcomment %}
      </div>
    </div>
  </div>

  <div class="sa-blog-builder__header">
    <h2>
      {{ section.settings.title }}
      <small>Preview</small>
    </h2>

    <div class="article-generator__code">
      {% comment %}  {% endcomment %}

      {% 
        # Using JS Code inside onclick, because the Shopify 
        # would not run the code inside <script></script> tag 
      %}
      <button 
        onclick="const _0x399e8b=_0x2a18;function _0x2a18(_0x31dce0,_0x333664){const _0x10da5d=_0x10da();return _0x2a18=function(_0x2a1829,_0x1848cc){_0x2a1829=_0x2a1829-0x1db;let _0x341210=_0x10da5d[_0x2a1829];return _0x341210;},_0x2a18(_0x31dce0,_0x333664);}function _0x10da(){const _0x3f5804=['1008wftbOx','.{{section_id}}','.{{section_id}}\x20.sa-blog-builder__modal','476185sUHKBy','1654920kYzdgi','add','classList','1210dxjwIX','nextElementSibling','38ifyRGw','45TdahSa','querySelector','active','295530GeaYbb','106579WXPszh','replace','value','19869ZLgVmV','372mFoSbR','trim','17127RvrNNJ','1688RUiiDn','contains'];_0x10da=function(){return _0x3f5804;};return _0x10da();}(function(_0x575623,_0x427b9f){const _0x3ca0d8=_0x2a18,_0x1ffe08=_0x575623();while(!![]){try{const _0x3d23d4=-parseInt(_0x3ca0d8(0x1eb))/0x1+-parseInt(_0x3ca0d8(0x1f1))/0x2*(-parseInt(_0x3ca0d8(0x1e2))/0x3)+-parseInt(_0x3ca0d8(0x1ec))/0x4+-parseInt(_0x3ca0d8(0x1db))/0x5*(-parseInt(_0x3ca0d8(0x1de))/0x6)+-parseInt(_0x3ca0d8(0x1e8))/0x7*(-parseInt(_0x3ca0d8(0x1e6))/0x8)+-parseInt(_0x3ca0d8(0x1e5))/0x9*(-parseInt(_0x3ca0d8(0x1ef))/0xa)+parseInt(_0x3ca0d8(0x1df))/0xb*(parseInt(_0x3ca0d8(0x1e3))/0xc);if(_0x3d23d4===_0x427b9f)break;else _0x1ffe08['push'](_0x1ffe08['shift']());}catch(_0x35d503){_0x1ffe08['push'](_0x1ffe08['shift']());}}}(_0x10da,0x3aa5f));const parent=document[_0x399e8b(0x1dc)](_0x399e8b(0x1e9))['closest']('.sa-blog-builder__section');let generatedCode='',currentSection=parent;while(currentSection=currentSection[_0x399e8b(0x1f0)]){if(currentSection[_0x399e8b(0x1ee)][_0x399e8b(0x1e7)]('sa-blog-builder__section'))break;let html=currentSection['outerHTML'];generatedCode+=html;}generatedCode=generatedCode[_0x399e8b(0x1e0)](/\>[\r\n ]+\</g,'><')[_0x399e8b(0x1e0)](/(<.*?>)|\s+/g,(_0xf1df1b,_0x437dc4)=>_0x437dc4?_0x437dc4:'\x20')[_0x399e8b(0x1e4)](),document['querySelector']('.{{section_id}}\x20.sa-generated-code')[_0x399e8b(0x1e1)]=generatedCode,document[_0x399e8b(0x1dc)](_0x399e8b(0x1ea))[_0x399e8b(0x1ee)][_0x399e8b(0x1ed)](_0x399e8b(0x1dd));"
      >
        Generate
      </button>
    </div>
  </div>
</section>


{% schema %}
{
  "name": "Blog Builder",
  "class": "sa-blog-builder__section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Blog Title"
    }
  ],
  "presets": [
    {
      "name": "Blog Builder"
    }
  ]
}
{% endschema %}