<div class="blog-main">
  <div class="blog-main__container">
    {% for block in section.blocks %}
      {% assign blog = block.settings.blog %}
      <div class="blog-main__category blog-main__category--{{ handle }}">
        <div class="blog-main__heading">
          <h4>
            {{ block.settings.title }}
          </h4>
          <div class="md-hide">
            <a class="button secondary-button--outline-dark" href="{{ blog.url }}">
              View All
            </a>
          </div>
        </div>
        <div class="blog-main__articles blog-main__articles--{{ blog.articles_count }}">
          {% for article in blog.articles limit: 3 %}
            {% render 'article-card', article: article %}
          {% endfor %}
        </div>
        <div class="md-show">
          <a class="button secondary-button--outline-dark" href="{{ blog.url }}">
            View All
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% schema %}
  {
    "name": "Main",
    "blocks": [
      {
        "name": "Blog",
        "type": "blog_list",
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "blog",
            "type": "blog",
            "label": "Choose Blog"
          }
        ]
      }
    ]
  }
{% endschema %}