{% comment %}
  Metafields Required:
  - blog.metafields.intro.desc
{% endcomment %}

{% render 'navbar--solid' %}

{% comment %} {% render 'sub-nav', menu: 'submenu-blog' %} {% endcomment %}
<style>
  .shop-the-look__content-{{ section.id }}  {
      background-color:{{ section.settings.bg_color }};
    }
</style>
<section class='shop-the-look blog-intro text-width-image block-padding--{{ section.id }} {{ section.settings.image_position }}'>
  <div class='shop-the-look__image-container'>
    {% if section.settings.bg_image %}
      <img
        class='shop-the-look__main-image'
        src='{{ section.settings.bg_image | img_url: '1200x1200', crop: 'center' }}'
        alt='{{ section.settings.title }}'
      >
    {% endif %}
  </div>
  <div class='shop-the-look__content shop-the-look__content-{{ section.id }}'>
    {% comment %} featured_article {% endcomment %}
    {% assign featured_article = section.settings.featured_article %}

    {% assign article = articles[featured_article] %}

    {% comment %} {% assign variable =  %} {% endcomment %}
    <h1 class='shop-the-look__title'>
      {{ section.settings.title }}
    </h1>

    <div class='blog-intro__article_content'>
      <p class='caption'>{{ blog.title }}</p>

      <h4 class='blog-intro__heading'>{{ article.title }}</h4>
      <p class='shop-the-look__description'>
        {{ article.content | strip_html | truncate: 200 }}
      </p>
      <a class='button secondary-button secondary-button--dark' href='{{ article.url }}'> Read More </a>
    </div>
  </div>
</section>

{% render 'block-padding', block: section %}

{% schema %}
{
  "name": "Intro",
  "settings": [
    {
      "type": "article",
      "id": "featured_article",
      "label": "Featured Article"
    },
    {
      "id": "title",
      "type": "text",
      "label": "Title"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "id": "bg_image",
      "type": "image_picker",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "Image Position",
      "options": [
        {
          "value": "row",
          "label": "Left"
        },
        {
          "value": "row-reverse",
          "label": "Right"
        }
      ],
      "default": "row"
    },
    {
      "type": "header",
      "content": "Padding",
      "info": "Use the fields below to change the top and bottom spacing of the blocks on desktop and mobile."
    },
    {
      "type": "header",
      "content": "Desktop"
    },
    {
      "type": "number",
      "label": "Padding Top",
      "id": "pt",
      "default": -1,
      "info": "Set to -1 for default padding."
    },
    {
      "type": "number",
      "label": "Padding Bottom",
      "id": "pb",
      "default": -1,
      "info": "Set to -1 for default padding."
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "type": "number",
      "label": "Padding Top",
      "id": "pt_m",
      "default": -1,
      "info": "Set to -1 for default padding."
    },
    {
      "type": "number",
      "label": "Padding Bottom",
      "id": "pb_m",
      "default": -1,
      "info": "Set to -1 for default padding."
    }
  ],
  "blocks": []
}
{% endschema %}
