{% assign images_count = section.blocks | where: 'type', 'image' | size %}
{% assign images_per_col = images_count | times: 1.0 | divided_by: 3 | floor %}

<div class="contact-products padding__bottom--large padding__top--large">
  <div class="contact-products__container radius--large">
    <div class="contact-products__grid">
      <div class="contact-products__content">
        <h3>
          {{ section.settings.title }}
        </h3>
        <div>
          {{ section.settings.content }}
          {% if section.settings.button_link != blank %}
            <a href="{{ section.settings.button_link }}" class="button primary-button">
              {{ section.settings.button_text }}
            </a>
          {% endif %}
        </div>
      </div>

      <div class="contact-products__images">
        <div class="branded-images">
          {% assign index = 0 %}

          {% for i in (1..3) %}
            <div class="branded-images__col">
              {% capture col_images %}
                {% for j in (1..images_per_col) %}
                  {% assign block = section.blocks[index] %}

                  <div class="branded-image">
                    <div class="branded-image__image">
                      <img src="{{ block.settings.image | image_url: width: 600 }}" alt="">
                    </div>

                    <p>
                      {{ block.settings.title }}
                    </p>
                  </div>
                  {% assign index = index | plus: 1 %}
                {% endfor %}
              {% endcapture %}

              {{ col_images }}
              {{ col_images }}
            </div>
          {% endfor %}
        </div>

      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Products",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "Title"
      }, {
        "id": "content",
        "type": "richtext",
        "label": "Content"
      }, {
        "id": "button_text",
        "type": "text",
        "label": "Button Text"
      }, {
        "id": "button_link",
        "type": "url",
        "label": "Button Link"
      }
    ],
    "blocks": [
      {
        "name": "Image",
        "type": "image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, {
            "type": "text",
            "id": "title",
            "label": "Label",
            "default": "Lorem"
          }
        ]
      }
    ]
  }
{% endschema %}