<div class="faq-shop">
  <div class="faq-shop__container">
    <h4 class="faq-shop__heading md-hide">
      {{ section.settings.title }}
    </h4>
    <h4 class="faq-shop__heading md-show">
      {{ section.settings.title_mobile }}
    </h4>
    
    <div class="faq-shop__carousel">
      <div class="ranges-carousel__items">           
        <div class="swiper">
          <div class="swiper-wrapper"> 
          {% for block in section.blocks %}
            <div class="swiper-slide">
              <div class="ranges-carousel__item">
                <div class="range-card">
                  <div class="range-card__image">
                    <img src="{{ block.settings.bg_image | image_url }}" alt="">
                  </div>

                  <div class="range-card__content">
                    <div class="range-card__text">
                      <h4>
                        {{ block.settings.title }}
                      </h4>
                      {{ block.settings.desc }}
                    </div>

                    <div class="range-card__cta">
                      <a class="button secondary-button--transparent-light" href="{{ block.settings.collection.url }}">
                        Shop Collection
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}             
          </div>          
        </div>       
      </div>
    </div>
  </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {

  const swiper = new Swiper(".faq-shop__carousel .swiper", {
    draggable: true,
    slidesPerView: 'auto',
    spaceBetween: 20,
    grabCursor: true,
    freeMode: true,
    mousewheel: {
      forceToAxis: true
    },
  });
});
</script>
{% schema %}
{
  "name": "Shop",
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "Title"
    },
    {
      "id": "title_mobile",
      "type": "text",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "name": "Collection",
      "type": "collection",
      "settings": [
        {
          "id": "bg_image",
          "type": "image_picker",
          "label": "BG Image"
        },
        {
          "id": "title",
          "type": "text",
          "label": "Title",
          "default": "Metro"
        },
        {
          "id": "desc",
          "type": "richtext",
          "label": "Description",
          "default": "<p>Ideal for city dwellers, compact design and best for one person.</p>"
        },
        {
          "id": "collection",
          "type": "collection",
          "label": "Choose Collection"
        }
      ]
    }
  ]
}
{% endschema %}
