<div class="faq-main padding__top--large">
  <div class="faq-main__container">
    <h1 class="faq-main__heading margin__bottom--xlarge">
      {{ blog.title }}
    </h1>
    <div class="faq-main__grid">
      <div class="faq-main__sidebar">
        <div class="faq-main__sidebar--search">
          <div class="field">
              <input type="text" class="field__input" value="" placeholder="Search" required="">
              <button type="submit" class="input__search--button field__button" name="commit" id="Subscribe" aria-label="Subscribe">
                {% render 'icon-search' %}
              </button>
            </div>
        </div>
         
        <div class="faq-main__sidebar--menu md-hide faq-group__links">          
        </div>

      </div>
      <div class="faq-main__content">

        <div class="lg-hide">
          {% for article in blog.articles %}
            {% assign faqs = article.metafields.custom.faq_items.value %}
            
            {% if faqs.size > 0 %}
              <div class="faq-main__accordion margin__bottom--large faq-group" >
                <div class="faq-group__anchor" id="{{ article.handle | handle }}" data-title="{{ article.title }}"></div>

                <h5>
                  {{ article.title }}
                </h5>

                <div class="accordion">
                  {% for item in faqs %}
                    {% assign item_props = item | split: '|' %}
                    {% assign title = item_props[0] | strip %}
                    {% assign content = item_props[1] | strip %}

                    <div class="accordion-item {% if forloop.index >= 8 %}accordion-item__item--more{% endif %}">
                      <div class="accordion-item__label">
                        <label>{{ title }}</label>
                        <div class="accordion-item__icon">
                          <div class="active">
                            {% render 'icon-arrow-up' %}
                          </div>
                          <div class="default">
                            {% render 'icon-arrow-down' %}
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item__collapse">
                        <div class="accordion-item__content">
                          {{ content | newline_to_br }}
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>

        <div class="lg-show">
          <div class="accordion accordion__main-category">
            {% for article in blog.articles %}
              <div class="accordion-item accordion-item__main-category">
                <div class="accordion-item__label">
                  <label>{{ article.title }}</label>
                  <div class="accordion-item__icon">
                    <div class="active">
                      {% render 'icon-arrow-up' %}
                    </div>
                    <div class="default">
                      {% render 'icon-arrow-down' %}
                    </div>
                  </div>
                </div>
                <div class="accordion-item__collapse">
                  <div class="accordion-item__content">
                    {% assign faqs = article.metafields.custom.faq_items.value %}
                    {% if faqs.size > 0 %}
                      <div class="accordion">
                        {% for item in faqs %}
                          {% assign item_props = item | split: '|' %}
                          {% assign title = item_props[0] | strip %}
                          {% assign content = item_props[1] | strip %}

                          <div class="accordion-item accordion-item__sub-category {% if forloop.index >= 8 %}accordion-item__item--more{% endif %}">
                            <div class="accordion-item__label">
                              <label>{{ title }}</label>
                              <div class="accordion-item__icon">
                                <div class="active">
                                  {% render 'icon-arrow-up' %}
                                </div>
                                <div class="default">
                                  {% render 'icon-arrow-down' %}
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item__collapse">
                              <div class="accordion-item__content">
                                {{ content | newline_to_br }}
                              </div>
                            </div>
                          </div>
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>