<section class='about-highlight block-padding--{{ section.id }}'>
  <div class='about-highlight__container'>
    {% if section.settings.image %}
      <img
        class='about-highlight__image'
        src='{{ section.settings.image | image_url: width: master }}'
        alt='About Us Image'
      >
    {% endif %}
    <div class='about-highlight__content'>
      <div class='about-highlight__text-wrapper'>
        <h5 class='about-highlight__title'>
          {{ section.settings.title_small }}
        </h5>
        <p class='about-highlight__description p-large'>
          {{ section.settings.description }}
        </p>
        <div class='about-highlight__description mobile-description md-show'>
          {{ section.settings.mobile_description }}
        </div>
      </div>
      {% if section.settings.button_title != blank %}
        <a href='{{ section.settings.button_url}}' class='about-highlight__cta button primary-button--outline-dark '>
          {{ section.settings.button_title }}
        </a>
      {% endif %}
    </div>
  </div>
</section>

{% render 'block-padding', block: section %}

{% schema %}
{
  "name": "Half Half Section",
  "settings": [
    {
      "id": "title_small",
      "type": "text",
      "label": "Title (Small)"
    },
    {
      "id": "description",
      "type": "text",
      "label": "Description"
    },
    {
      "type": "richtext",
      "id": "mobile_description",
      "label": "Mobile Description"
    },
    {
      "id": "button_title",
      "type": "text",
      "label": "Button Title"
    },
    {
      "id": "button_url",
      "type": "url",
      "label": "Button URL"
    },
    {
      "id": "image",
      "type": "image_picker",
      "label": "Image"
    },
    {
      "id": "image_position",
      "type": "select",
      "label": "Image Position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Padding",
      "info": "Use the fields below to change the top and bottom spacing of the blocks on desktop and mobile."
    },
    {
      "type": "header",
      "content": "Desktop"
    },
    {
      "type": "number",
      "label": "Padding Top",
      "id": "pt",
      "default": -1,
      "info": "Set to -1 for default padding."
    },
    {
      "type": "number",
      "label": "Padding Bottom",
      "id": "pb",
      "default": -1,
      "info": "Set to -1 for default padding."
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "type": "number",
      "label": "Padding Top",
      "id": "pt_m",
      "default": -1,
      "info": "Set to -1 for default padding."
    },
    {
      "type": "number",
      "label": "Padding Bottom",
      "id": "pb_m",
      "default": -1,
      "info": "Set to -1 for default padding."
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Half Half Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}
