<section class='hero-banner'>
  <div class='hero-banner__container'>
    {% if section.settings.bg_image_desktop and section.settings.bg_video_desktop == blank %}
      <div class='hero-banner__image-wrapper'>
        <img
          class='hero-banner__image hero-show-desktop'
          src='{{ section.settings.bg_image_desktop | image_url: width: master }}'
          alt='Hero banner image 2'
        >

        <img
          class='hero-banner__image hero-show-mobile'
          src='{% if section.settings.bg_image_devices %}{{ section.settings.bg_image_devices | image_url: width: master }} {% else %}{{ section.settings.bg_image_desktop | image_url: width: master }}{% endif %}'
          alt='Hero banner image 1'
        >
      </div>
    {% endif %}

    {% if section.settings.bg_video_desktop %}
      <div class='hero-banner__video-wrapper'>
        <video
          class='hero-banner__video'
          autoplay
          loop
          muted
          playsinline
          src='{{ section.settings.bg_video_desktop.sources[1].url }}'
        ></video>
      </div>
    {% endif %}
    <div class='hero-banner__content'>
      {% if section.settings.title %}
        <h1 class='hero-banner__title {{ section.settings.title_position }}'>
          {{ section.settings.title }}
        </h1>
      {% endif %}
      <div class='hero-banner__text-wrapper {{ section.settings.content_position }} {% if section.settings.button_title == blank %} only-caption{% endif %}'>
        <p class='hero-banner__description '>
          {{ section.settings.caption }}
        </p>

        {% if section.settings.button_title != blank %}
          <a href='{{ section.settings.button_url }}' class='button {{ section.settings.button_style }}'>
            {{ section.settings.button_title }}
          </a>
        {% endif %}
      </div>
    </div>
  </div>

  {% if section.settings.enable_announcement == true %}
    {% if template.name == 'index' %}
      <div class='navbar__announcement announcement-bar__wrapper hero-show-desktop'>
        {% assign announcements = section.blocks | where: 'type', 'announcement' %}
        {% render 'announcement-bar',
          announcements: announcements,
          section_id: section.id,
          reappear_after: section.settings.reappear_after
        %}
      </div>
    {% endif %}
  {% else %}
    <div class='navbar__announcement announcement-bar__wrapper hero-show-desktop'>
      {% assign announcements = section.blocks | where: 'type', 'announcement' %}
      {% render 'announcement-bar',
        announcements: announcements,
        section_id: section.id,
        reappear_after: section.settings.reappear_after
      %}
    </div>
  {% endif %}
</section>

{% render 'block-padding', block: section %}

{% schema %}
{
  "name": "Hero",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_announcement",
      "label": "Show Announcement Bar on homepage only",
      "default": true
    },
    {
      "id": "title",
      "type": "text",
      "label": "Title"
    },
    {
      "id": "caption",
      "type": "text",
      "label": "Caption"
    },
    {
      "id": "button_title",
      "type": "text",
      "label": "Button Title"
    },
    {
      "id": "button_url",
      "type": "url",
      "label": "Button URL"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button Style",
      "options": [
        {
          "value": "primary-button--dark",
          "label": "Primary Button Dark Filled"
        },
        {
          "value": "primary-button--outline-dark",
          "label": "Primary Button Dark Outline"
        },
        {
          "value": "primary-button--light",
          "label": "Primary Button Light Filled"
        },
        {
          "value": "primary-button--outline-light",
          "label": "Primary Button Light Outline"
        }
      ],
      "default": "primary-button--outline-dark"
    },
    {
      "id": "bg_image_desktop",
      "type": "image_picker",
      "label": "BG Image (Desktop)"
    },
    {
      "id": "bg_image_devices",
      "type": "image_picker",
      "label": "BG Image (Devices)"
    },
    {
      "id": "bg_video_desktop",
      "type": "video",
      "label": "BG Video (Desktop)"
    },
    {
      "id": "text_color",
      "type": "select",
      "label": "Text Color",
      "options": [
        {
          "value": "light",
          "label": "Light"
        },
        {
          "value": "dark",
          "label": "Dark"
        }
      ]
    },
    {
      "id": "title_position",
      "type": "select",
      "label": "Title Position",
      "options": [
        {
          "value": "title-top",
          "label": "Top"
        },
        {
          "value": "title-center",
          "label": "Center"
        },
        {
          "value": "title-bottom",
          "label": "Bottom"
        }
      ]
    },
    {
      "id": "content_position",
      "type": "select",
      "label": "Content Position",
      "options": [
        {
          "value": "content-top",
          "label": "Top"
        },
        {
          "value": "content-center",
          "label": "Center"
        },
        {
          "value": "content-bottom",
          "label": "Bottom"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "Announcement",
      "settings": [
        {
          "id": "text",
          "type": "text",
          "label": "Text",
          "default": "Notification message goes here & has a character limit",
          "info": "Max of 50 characters"
        },
        {
          "id": "url",
          "type": "url",
          "label": "Link"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text Color",
          "default": "#FFFFFF"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background Color",
          "default": "#B8DDE1"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero",
      "category": "Hero"
    }
  ]
}
{% endschema %}
