<section class="collection-highlight">
  <div class="collection-highlight__container">
    <div class="collection-highlight__header">
      <h1 class="collection-highlight__title">Bohspoke</h1>
    </div>
    <div class="collection-highlight__content">
      <p class="collection-highlight__description">
        Make it your own or add a personal touch for a loved one by changing the metal or stone, adjusting chain
        lengths and ring sizes or engraving a special message or date.
      </p>
      <a href="#" class="collection-highlight__cta">Learn more</a>
    </div>
  </div>
  <img class="collection-highlight__background" src="https://c.animaapp.com/66GAJcOm/img/collection-highlight.png" alt="Collection Highlight Background" />
</section>


{% comment %} <div class="highlight-banner block-padding--{{ section.id }}">
  <h2 class="highlight-banner__title">{{ section.settings.title }}</h2>
  <p class="highlight-banner__caption">{{ section.settings.caption }}</p>
  <p class="highlight-banner__button-title">{{ section.settings.button_title }}</p>
  <div class="highlight-banner__button-url">{{ section.settings.button_url }}</div>
  <div class="highlight-banner__bg-image-desktop">{{ section.settings.bg_image_desktop }}</div>
  <div class="highlight-banner__bg-image-devices">{{ section.settings.bg_image_devices }}</div>
  <div class="highlight-banner__text-color">{{ section.settings.text_color }}</div>
  <div class="highlight-banner__text-position">{{ section.settings.text_position }}</div>

</div> {% endcomment %}


{% render 'block-padding', block: section %}

{% schema %}
{
  "name": "Highlight Banner",
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "Title"
    },
    {
      "id": "caption",
      "type": "text",
      "label": "Caption"
    },
    {
      "id": "button_title",
      "type": "text",
      "label": "Button Title"
    },
    {
      "id": "button_url",
      "type": "url",
      "label": "Button URL"
    },
    {
      "id": "bg_image_desktop",
      "type": "image_picker",
      "label": "BG Image (Desktop)"
    },
    {
      "id": "bg_image_devices",
      "type": "image_picker",
      "label": "BG Image (Devices)"
    },
    {
      "id": "text_color",
      "type": "select",
      "label": "Text Color",
      "options": [
        {
          "value": "light",
          "label": "Light"
        },
        {
          "value": "dark",
          "label": "Dark"
        }
      ]
    },
    {
      "id": "text_position",
      "type": "select",
      "label": "Text Position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "middle",
          "label": "Middle"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Padding",
      "info": "Use the fields below to change the top and bottom spacing of the blocks on desktop and mobile."
    },
    {
      "type": "header",
      "content": "Desktop"
    },
    {
      "type": "number",
      "label": "Padding Top",
      "id": "pt",
      "default": -1,
      "info": "Set to -1 for default padding."
    },
    {
      "type": "number",
      "label": "Padding Bottom",
      "id": "pb",
      "default": -1,
      "info": "Set to -1 for default padding."
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "type": "number",
      "label": "Padding Top",
      "id": "pt_m",
      "default": -1,
      "info": "Set to -1 for default padding."
    },
    {
      "type": "number",
      "label": "Padding Bottom",
      "id": "pb_m",
      "default": -1,
      "info": "Set to -1 for default padding."
    }
  ],
  "blocks": []
}
{% endschema %}
