<section
  class='accordions block-padding--{{ section.id }}'
  style='background-color:{{ section.settings.background_color }}'
>
  <div class='accordions__container'>
    {% if section.settings.image %}
      <img
        class='accordions__image'
        src='{{ section.settings.image | image_url: width: 400 }}'
        alt='{{ section.settings.image.alt }}'
      >
    {% endif %}
    <div class='accordions__content'>
      {% for block in section.blocks %}
        {% render 'accordion', block: block, forloop: forloop %}
      {% endfor %}
    </div>
  </div>
</section>

{% comment %}
  <div class="image-accordions block-padding--{{ section.id }}">
    <div class="image-accordions__image">{{ section.settings.image }}</div>
    <div class="image-accordions__image-position">{{ section.settings.image_position }}</div>

  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'accordion' %}
        {% render 'accordion', block: block %}
    {% endcase %}
  {% endfor %}
  </div>
{% endcomment %}

{% render 'block-padding', block: section %}

{% schema %}
{
  "name": "Image + Accordions",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#e6eff4"
    },
    {
      "id": "image",
      "type": "image_picker",
      "label": "Image"
    },
    {
      "id": "image_position",
      "type": "select",
      "label": "Image Position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Padding",
      "info": "Use the fields below to change the top and bottom spacing of the blocks on desktop and mobile."
    },
    {
      "type": "header",
      "content": "Desktop"
    },
    {
      "type": "number",
      "label": "Padding Top",
      "id": "pt",
      "default": -1,
      "info": "Set to -1 for default padding."
    },
    {
      "type": "number",
      "label": "Padding Bottom",
      "id": "pb",
      "default": -1,
      "info": "Set to -1 for default padding."
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "type": "number",
      "label": "Padding Top",
      "id": "pt_m",
      "default": -1,
      "info": "Set to -1 for default padding."
    },
    {
      "type": "number",
      "label": "Padding Bottom",
      "id": "pb_m",
      "default": -1,
      "info": "Set to -1 for default padding."
    }
  ],
  "blocks": [
    {
      "name": "Accordion",
      "type": "accordion",
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "Title"
        },
        {
          "id": "caption",
          "type": "text",
          "label": "Caption"
        },
        {
          "id": "button_title",
          "type": "text",
          "label": "Button Title"
        },
        {
          "id": "button_url",
          "type": "url",
          "label": "Button URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image + Accordions",
      "category": "Content"
    }
  ]
}
{% endschema %}
