{% assign product_model_sizes = shop.metaobjects.ordered.product_model_sizes.references.value %}
{% render 'navbar--solid' %}


<div class="collection-header">
  <div class="collection-header__title">
    <h1>
      {{ section.settings.title }}
    </h1>
  </div>
  <div class="collection-header__desc">
    <strong class="p-strong">
      {{ section.settings.subheading }}
    </strong>
    <p>
      {{ section.settings.desc }}
    </p>
  </div>
</div>

<div class="collection-list">
  <div class="collection-list__grid">
    <div class="collection-list__products">
      {% assign index = 0 %}
      {% for product_model_size in product_model_sizes %}
        {% if product_model_size.system.handle == 'coupe' %}
          {% continue %}
        {% endif %}

        {% if product_model_size.system.handle == 'tempus' %}
          {% continue %}
        {% endif %}

        {% assign selected_variant = product_model_size.collection_variant.value %}
        {% assign product = selected_variant.product %}

        <div class="collection-list__product collection-list__product--{{ index }}">
          {% render 'product-card',
            product: product, 
            selected_variant: selected_variant, 
            is_large: true,
            is_collection: true,
            classes: 'product-card--collection'
          %}
        </div>

        {% assign index = index | plus: 1 %}
      {% endfor %}
    </div>

    <div class="collection-list__images">
      {% assign index = 0 %}
      {% for product_model_size in product_model_sizes %}
        
        {% if product_model_size.system.handle == 'coupe' %}
          {% continue %}
        {% endif %}
        
        {% if product_model_size.system.handle == 'tempus' %}
          {% continue %}
        {% endif %}

        {% assign image = product_model_size.collection_image %}

        <div class="collection-list__image">
          <img src="{{ image | image_url: width: 1600 }}" alt="">
        </div>

        {% assign index = index | plus: 1 %}
      {% endfor %}
    </div>
  </div>
</div>


<script src="{{ 'collection-animations.min.js' | asset_url }}" defer></script>

{% schema %}
  {
    "name": "Collection List",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
      },
      {
        "type": "textarea",
        "id": "desc",
        "label": "Description"
      }
    ]
  }
{% endschema %}