{% comment %}
  Metafields Required:
  - collection.metafields.header.subheading
  - collection.metafields.header.description
{% endcomment %}

{% render 'navbar--solid' %}

<div class='collection-header'>
  <div class='collection-content'>
    <div class='collection-header__title'>
      <h3>
        {{ collection.title }}
      </h3>
    </div>
    <div class='collection-header__desc'>
      {% if collection.description == blank %}
        <strong class='p-strong'>
          {{ collection.metafields.header.subheading }}
        </strong>
        <div>
          {{ collection.metafields.header.description }}
        </div>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae doloremque magnam iste ea, fugit, quia a
          itaque culpa dolor magni asperiores consectetur dicta. Incidunt nobis atque voluptate quis, saepe sunt.
        </p>
      {% else %}
        <div>
          {{ collection.description }}
        </div>
      {% endif %}
    </div>
  </div>

  <div class='collection-image'>
    {% if collection.image != blank %}
      <img src='{{ collection.image | image_url: width: master }}' alt='{{ collection.title }}'>
    {% endif %}
  </div>
</div>

{% assign per_page = 28 %}

<div
  id='product-grid-container'
  class='collection-products collection-products--normal block-padding--{{ section.id }}'
>
  <div class='collection-products__filter-panel'>
    <ul>
      <li>
        <a href='#all' class='h5 product-row__tab active' data-tabid='rings'>All</a>
      </li>
      <li>
        <a href='#rings' class='h5 product-row__tab' data-tabid='rings'>RINGS</a>
      </li>
      <li>
        <a href='#under-150' class='h5 product-row__tab' data-tabid='under-150'>Under $150</a>
      </li>
      <li>
        <a href='#necklaces' class='h5 product-row__tab' data-tabid='necklaces'>Necklaces</a>
      </li>
      <li>
        <a href='#bracelets' class='h5 product-row__tab' data-tabid='bracelets'>Bracelets</a>
      </li>
    </ul>
    <button class='filter-button button primary-button--outline-dark js-filters-popup__open'>
      {% render 'icon-filter' %}
      Filter
    </button>
  </div>
  <div class='collection-products__container'>
    {%- paginate collection.products by per_page -%}
      <div id='product-grid' class='collection-products__grid' data-id='{{ section.id }}'>
        {% assign cards_count = 0 %}
        {% assign products_per_row = 5 %}
        {% assign current_row = 1 %}
        {% for product in collection.products %}
          {%- if current_row == 3 and forloop.index == 11 and section.settings.featured_image != blank -%}
            <!-- Display featured image on 3rd and 4th row -->
            <div class='featured-image'>
              <div class='featured-collection__item'>
                <img
                  class='featured-collection__image'
                  src='{{ section.settings.featured_image | image_url: width: master }}'
                  alt='{{ section.settings.featured_image_title }}'
                >

                <div class='featured-collection__content'>
                  <h2 class='featured-collection__item-title'>
                    {{ section.settings.featured_image_title }}
                  </h2>
                  <a href='{{ section.settings.featured_image_url }}' class='featured-collection__cta button-text'>
                    {{ section.settings.featured_button_text }}
                  </a>
                </div>
              </div>
            </div>
          {%- endif -%}
          {% render 'product-card', product: product %}
          {% assign cards_count = cards_count | plus: 1 %}
          {%- assign products_shown = forloop.index | modulo: products_per_row -%}
          {%- if products_shown == 0 -%}
            {% assign current_row = current_row | plus: 1 %}
          {%- endif -%}
        {% endfor %}

        <div id='ProductCount' style='display: none;'>{{ cards_count }}</div>
      </div>

      {% if section.settings.pagination_type == 'loadmore' %}
        <div class='collection-products__load-more'>
          <div id='AjaxinatePagination'>
            {% if paginate.next %}
              <a class='btn btn--secondary btn--ajaxinate' href='{{ paginate.next.url }}'>
                <span> Load More </span>

                <span class='fw-400'>
                  <span class='item-count'>
                    {{ paginate.page_size | times: paginate.current_page | at_most: collection.products_count }}
                  </span>
                  of {{ collection.products_count }}
                </span>
              </a>
            {% endif %}
          </div>
        </div>
      {% else %}
        {% if paginate.pages > 1 %}
          {% render 'pagination', paginate: paginate %}
        {% endif %}
      {% endif %}
    {%- endpaginate -%}
  </div>
</div>

{% render 'sa-facets' %}
{% render 'ajaxinate' %}
{% render 'block-padding', block: section %}

{% schema %}
{
  "name": "Main Collection",
  "settings": [
    {
      "type": "header",
      "content": "Featured Image Section"
    },
    {
      "type": "text",
      "id": "featured_image_title",
      "label": "Title",
      "default": "Graduation Gifts"
    },
    {
      "type": "text",
      "id": "featured_button_text",
      "label": "Button Text",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "featured_image_url",
      "label": "URL",
      "default": "/collections"
    },
    {
      "type": "image_picker",
      "id": "featured_image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "pagination_type",
      "label": "Pagination Type",
      "options": [
        {
          "value": "loadmore",
          "label": "Load More"
        },
        {
          "value": "numbers",
          "label": "Numbers"
        }
      ],
      "default": "numbers"
    },
    {
      "type": "header",
      "content": "Padding",
      "info": "Use the fields below to change the top and bottom spacing of the blocks on desktop and mobile."
    },
    {
      "type": "header",
      "content": "Desktop"
    },
    {
      "type": "number",
      "label": "Padding Top",
      "id": "pt",
      "default": -1,
      "info": "Set to -1 for default padding."
    },
    {
      "type": "number",
      "label": "Padding Bottom",
      "id": "pb",
      "default": -1,
      "info": "Set to -1 for default padding."
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "type": "number",
      "label": "Padding Top",
      "id": "pt_mobile",
      "default": -1,
      "info": "Set to -1 for default padding."
    },
    {
      "type": "number",
      "label": "Padding Bottom",
      "id": "pb_mobile",
      "default": -1,
      "info": "Set to -1 for default padding."
    }
  ]
}
{% endschema %}

{%- comment -%}
  {% schema %}
  {
    "name": "Filters",
    "blocks": [
      {
        "name": "Filter: Perfect For",
        "type": "perfect-for",
        "settings": [
          {
            "type": "text",
            "id": "ref",
            "label": "Reference"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Icon"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Label"
          }
        ]
      },

      {
        "name": "Filter: Size",
        "type": "size",
        "settings": [
          {
            "type": "text",
            "id": "ref",
            "label": "Reference"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Icon"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Label"
          }
        ]
      },

      {
        "name": "Filter: Colour",
        "type": "color",
        "settings": [
          {
            "type": "text",
            "id": "ref",
            "label": "Reference"
          },
          {
            "type": "color",
            "id": "color",
            "label": "Colour"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Colour Name",
            "info": "This will show on tooltip."
          }
        ]
      },

      {
        "name": "Filter: Limited Edition",
        "type": "limited-edition",
        "settings": [
          {
            "type": "text",
            "id": "ref",
            "label": "Reference"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "The image you upload shouldn't be cropped on rounded."
          },
          {
            "type": "text",
            "id": "title",
            "label": "Label"
          }
        ]
      }
    ]
  }
  {% endschema %}
{%- endcomment -%}
