{%- comment -%}
  Available variables:
  - section
    - id
    - blocks
    - settings
      - title (text)
{%- endcomment -%}
<section class='product-row block-padding--{{ section.id }}'>
  <div class='product-row__container'>
    <div class='product-row__header'>
      <h1 class='product-row__title'>{{ section.settings.title }}</h1>
      <ul>
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'products' %}
              <li>
                <a
                  href='#{{ block.settings.tab_title | handleize }}'
                  class='{% if forloop.first %} active {% endif %} h5 product-row__tab'
                  data-tabId='{{ block.settings.tab_title | handleize }}'
                >
                  {{- block.settings.tab_title -}}
                </a>
              </li>
          {% endcase %}
        {% endfor %}
      </ul>
    </div>

    {% for block in section.blocks %}
      <div
        class='product-row__tab_wrapper {{ block.settings.tab_title | handleize }} {% if forloop.first %} active {% endif %}'
      >
        <div
          class='product-row__grid'
        >
          {% for product in block.settings.products %}
            {% render 'product-card', product: product %}
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</section>

{% render 'block-padding', block: section %}

<script>
  function initProductRowTabs() {
    $(document).on('click', '.product-row__header ul li a', function (e) {
      e.preventDefault();
      $('.product-row__header ul li a').removeClass('active');
      $(this).toggleClass('active');
      var tabId = $(this).data('tabid');

      $('.product-row__tab_wrapper').removeClass('active');
      $('.' + tabId).addClass('active');
      console.log('$(tabId)::: ', '#' + tabId);
      return false;
    });
  }
  document.addEventListener('DOMContentLoaded', function () {
    initProductRowTabs();
  });
</script>
{% schema %}
{
  "name": "Product Row",
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "Title"
    },
    {
      "type": "header",
      "content": "Padding",
      "info": "Use the fields below to change the top and bottom spacing of the blocks on desktop and mobile."
    },
    {
      "type": "header",
      "content": "Desktop"
    },
    {
      "type": "number",
      "label": "Padding Top",
      "id": "pt",
      "default": -1,
      "info": "Set to -1 for default padding."
    },
    {
      "type": "number",
      "label": "Padding Bottom",
      "id": "pb",
      "default": -1,
      "info": "Set to -1 for default padding."
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "type": "number",
      "label": "Padding Top",
      "id": "pt_m",
      "default": -1,
      "info": "Set to -1 for default padding."
    },
    {
      "type": "number",
      "label": "Padding Bottom",
      "id": "pb_m",
      "default": -1,
      "info": "Set to -1 for default padding."
    }
  ],
  "blocks": [
    {
      "name": "Products",
      "type": "products",
      "settings": [
        {
          "id": "tab_title",
          "type": "text",
          "label": "Tab Title"
        },
        {
          "id": "products",
          "type": "product_list",
          "label": "Products",
          "limit": 8
        }
      ]
    }
  ]
}
{% endschema %}
