<section class='two-cards'>
  <style>
    .two-cards__card--stories {
      background: {{ section.settings.bg_color }};
    }
    .two-cards__card--store{
      background:{{ section.settings.store_bg_color }};
    }
  </style>
  <div class='two-cards__card two-cards__card--stories'>
    <div
      class='two-cards__card--stories--swiper swiper'
    >
      <div class='swiper-wrapper'>
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'slide_card' %}
              <div class='swiper-slide'>
                {% render 'slide_card', block: block %}
              </div>
          {% endcase %}
        {% endfor %}
      </div>
    </div>
    <button class='two-cards--arrow arrow--prev' aria-label='Previous product'>
      {% render 'icon-arrow-left' %}
    </button>
    <button class='two-cards--arrow arrow--next' aria-label='Next product'>
      {% render 'icon-arrow-right' %}
    </button>
  </div>
  <div class='two-cards__card two-cards__card--store'>
    <div class='two-cards__card--store-image-wrapper'>
      {% if section.settings.image %}
        <img
          class='two-cards__card-image'
          src='{{ section.settings.image | image_url: width:800 }}'
          alt='{{ section.settings.title }}'
        >
      {% endif %}
      <h3 class='two-cards__card-title md-hide'>
        {{ section.settings.title }}
      </h3>
    </div>

    <div class='two-cards__card-content'>
      <div class='two-cards__card-text'>
        <div class='two-cards__card-quote'>
          <h3 class='two-cards__card-title md-show'>
            {{ section.settings.title }}
          </h3>
          <div class='two-cards__card-quote-text'>
            <div class='two-cards__card-quote-text-content'>
              {{ section.settings.content }}
            </div>
            <div class='two-cards__card-quote-text-timings'>
              {{ section.settings.timings }}
            </div>
            <div class='two-cards__card-quote-text-contact'>
              {{ section.settings.contact }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{%- comment -%}
  Available variables:
  - section
    - id
    - blocks
    - settings
      - title (text)
      - image (text)
      - content (richtext)
{%- endcomment -%}

{% render 'block-padding', block: section %}

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const productSlider = new Swiper('.two-cards__card--stories .swiper', {
      slidesPerView: 1,
      navigation: {
        nextEl: '.two-cards--arrow.arrow--next',
        prevEl: '.two-cards--arrow.arrow--prev',
      },
    });
  });
</script>

{% schema %}
{
  "name": "Two Cards",
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "Title"
    },
    {
      "id": "image",
      "type": "image_picker",
      "label": "Image"
    },
    {
      "id": "content",
      "type": "richtext",
      "label": "Content"
    },
    {
      "id": "timings",
      "type": "richtext",
      "label": "Timings"
    },
    {
      "id": "contact",
      "type": "richtext",
      "label": "Contact"
    },
    {
      "id": "bg_color",
      "type": "color",
      "label": "Story BG Color"
    },
    {
      "id": "store_bg_color",
      "type": "color",
      "label": "Stor BG Color"
    },
    {
      "type": "header",
      "content": "Padding",
      "info": "Use the fields below to change the top and bottom spacing of the blocks on desktop and mobile."
    },
    {
      "type": "header",
      "content": "Desktop"
    },
    {
      "type": "number",
      "label": "Padding Top",
      "id": "pt",
      "default": -1,
      "info": "Set to -1 for default padding."
    },
    {
      "type": "number",
      "label": "Padding Bottom",
      "id": "pb",
      "default": -1,
      "info": "Set to -1 for default padding."
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "type": "number",
      "label": "Padding Top",
      "id": "pt_m",
      "default": -1,
      "info": "Set to -1 for default padding."
    },
    {
      "type": "number",
      "label": "Padding Bottom",
      "id": "pb_m",
      "default": -1,
      "info": "Set to -1 for default padding."
    }
  ],
  "blocks": [
    {
      "name": "Slide Card",
      "type": "slide_card",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image"
        },
        {
          "id": "title",
          "type": "text",
          "label": "Title"
        },
        {
          "id": "description",
          "type": "richtext",
          "label": "Description"
        },
        {
          "id": "name",
          "type": "text",
          "label": "Name"
        },
        {
          "id": "link",
          "type": "url",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Two Cards",
      "category": "Image"
    }
  ]
}
{% endschema %}
