{% layout none %}

{% paginate search.results by 1000 %}
  {% assign products = search.results | where: 'object_type', 'product' %}
  {% assign articles = search.results | where: 'object_type', 'article' %}

  {% assign search_terms = search.terms | replace: '&amp;', '&' | url_param_escape %}

  <div
    class='search__container'
    {% if products.size > 0 or articles.size > 0 %}
    {% else %}
      id='empty-result'
    {% endif %}
  >
    <div class='search__grid'>
      <div class='search__left'>
        <div class='search-results'>
          {% if products.size > 0 or articles.size > 0 %}
            <div class='search-results__heading'>
              <h4>
                {{ products.size }} Product{% if products.size != 1 %}s{% endif %}
              </h4>
              {% if products.size >= 3 %}
                <a
                  class='underline-link'
                  href='/search?q={{ search_terms }}&type=product&options[unavailable_products]=show&options[prefix]=last'
                  >View all</a
                >
              {% endif %}
            </div>
            <div class='search-results__products'>
              {% for product in products limit: 3 %}
                {% assign hide_product = false %}
                {% capture hide_product %}
                  {% render 'hide-product', product: product %}
                {% endcapture %}
                {% assign hide_product = hide_product | strip %}

                {% if hide_product == 'hide' %}
                  {% continue %}
                {% endif %}

                {% render 'product-card', product: product %}
              {% endfor %}
            </div>
          {% else %}
            <div class='search-results__heading empty-result'>
              <p>
                Sorry, we can't find what you're looking for!<br>
                But have you seen our latest limited editions...
              </p>
              <a href='/collections/new-arrivals' class='button primary-button--dark'>Shop limited editions</a>
              {% comment %}
                <h4>No products found</h4>
              {% endcomment %}
            </div>
          {% endif %}
        </div>
      </div>
      <div class='search__right'>
        <div class='search-results {% if products.size == 0 %}search-results--no-products{% endif %}'>
          {% if articles.size > 0 %}
            <div class='search-results__heading'>
              <h4>
                {{ articles.size }} Article{% if articles.size >= 2 %}s{% endif %}
              </h4>
              {% if articles.size > 1 %}
                <a class='underline-link' href='/search?q={{ search_terms }}&type=article'>View all</a>
              {% endif %}
            </div>
            <div class='search-results__articles'>
              {% for article in articles limit: 3 %}
                {% if article.metafields.text.light_mode == true %}
                  {% assign classes = 'is-light' %}
                {% endif %}
                <div class='search-results__article {{ classes }}'>
                  <p class='category'>
                    {{ article.handle | split: '/' | first | replace: '-', ' ' }}
                  </p>
                  <h5 class='title'>
                    <a href='{{ article.url }}'>
                      {{ article.title }}
                    </a>
                  </h5>
                </div>
                {% comment %}
                  <div
                    class='search-results__article {{ classes }}'
                    {% if article.metafields.background.colour != blank %}
                      style='background: {{ article.metafields.background.colour }}'
                    {% endif %}
                  >
                    <div class='desc'>
                      <p class='category md-show'>
                        <strong>{{ article.published_at | date: '%b %d, %Y' }}</strong>
                      </p>
                      <h5 class='title'>
                        <a href='{{ article.url }}'>
                          {{ article.title }}
                        </a>
                      </h5>
                      <p class='category md-hide'>
                        <strong>{{ article.published_at | date: '%b %d, %Y' }}</strong><br>
                        {{ article.handle | split: '/' | first | replace: '-', ' ' }}
                      </p>
                      <a href='{{ article.url }}' class='underline-link'> Read more </a>
                    </div>
                    <div class='image'>
                      <img src='{{ article.image | image_url }}' alt='{{ article.title }}'>
                    </div>
                  </div>
                {% endcomment %}
              {% endfor %}
            </div>
          {% else %}
            <div class='search-results__heading'>
              <h4>No articles found</h4>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endpaginate %}
